{

  "presets": [
    ["es2015", { "modules": false, "loose": true }],
    "react"
  ],

  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],

  "env": {

    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "transform-react-stateless-component-name"
      ]
    },

    

    "production": {
      "plugins": [
        "lodash",
        "transform-react-remove-prop-types"
      ]
    }

  }

}
