@import 'reset';

:root {
  --purple: #5e1d34;
  --yellow-trans: rgba(222, 198, 130, .8);
  --yellow: rgb(222, 198, 130);
  --trans-white: rgba(255, 255, 255, .6);
}

html {
  font-size: 62.5%;
  font-family: DIN, arial, sans-serif;
  animation: fade-in 2s;
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

p {
  font-size: 2rem;
  line-height: 3.5rem;
}

.text-header {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  text-transform: uppercase;
}

.title-highlight {
  color: var(--purple);
}

.title-underline {
  border-bottom: .4rem solid var(--purple);
  padding-right: 8rem;
}

.text-highlight {
  background: linear-gradient(transparent 50%, var(--yellow-trans) 50%);
}

.quote {
  color: var(--yellow-trans);
  font-family: Montserrat;
  font-weight: 500;
  font-style: italic;
  font-size: 3.2rem;
  line-height: 4rem;
  text-transform: uppercase;
  width: 44rem;
}

.nostalgie-player {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 3rem;
  right: 5rem;
  background-color: rgba(255, 255, 255, .6);
  padding: .5rem .5rem 2rem;
  z-index: 10;

  & .nostalgie-player-image {
    border-bottom: .2rem solid black;
    height: 6.1rem;
    padding-bottom: 1rem;
    margin: 1.8rem 0;
  }

  & p {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 1.6rem 0;
  }

  & .nostalgie-playbutton {
    margin: 0 auto;
  }
}

/*HEADER*/

.header {
  border: 2.5rem solid black;
  display: flex;
  flex-flow: column;
  background-image: url(../assets/images/header.png);
  background-repeat: no-repeat;
  background-position: center;

  & nav {
    margin-top: 3rem;
  }

  & nav li {
    display: flex;
    align-items: center;
    margin: 1.5rem 0 1.5rem 6rem;
  }

  & nav img {
    margin: 0 3rem .4rem;
  }

  & nav a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  & .header-social {
    border-top: .3rem solid black;
    width: 14rem;
  }

  & .twitter-icon {
    margin-left: 5rem;
  }
}

.header-title {
  font-family: Montserrat;
  font-size: 10rem;
  letter-spacing: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  opacity: 1;
}

.header-subtitle {
  font-weight: 500;
  font-size: 6rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 11.5rem;
  width: 58rem;
  margin: 6rem auto;

  & .spacing-top {
    align-self: flex-start;
  }

  & .spacing-bottom {
    align-self: flex-end;
  }
}

.header-years {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10rem;

  & .years-position {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 7rem;
    width: 27rem;
  }

  & .years-title {
    font-weight: 500;
    font-size: 4rem;
    border-bottom: .2rem solid black;
    align-self: flex-start;
  }

  & .years-text {
    font-weight: 500;
    font-size: 2.2rem;
    align-self: flex-end;
  }
}

/*SAVEDMYLIVE*/

.savedmylive-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column;
}

.savedmylive-header {
  margin: 15rem 0;
}

.savedmylive-firstparagraph,  .savedmylive-secondparagraph {
  width: 50%;
}

.savedmylive-secondparagraph {
  margin-top: 17rem;
}

.savedmylive-seaside {
  width: 90%;
  height: 100%;
  position: relative;
  bottom: 28rem;
  z-index: -5;
}

.savedmylive .quote {
  align-self: flex-end;
  margin: -10rem 10rem 0 0;
}

.savedmylive-thirdparagraph {
  width: calc(80% + 10%);
  margin-top: 57rem;
  padding-left: 10%;
}

.savedmylive-img {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -70rem;

  & .img-item {
    border-bottom: .5rem solid var(--purple);
    height: 58rem;
  }
}

.savedmylive-fourthparagraph {
  width: 80%;
  margin: 16rem 0;
}

.savedmylive-fifthparagraph {
  background-image: url(../assets/images/statue.png);
  background-position: center;
  height: 74rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    width: 70rem;
    z-index: 1;
  }

  & .text-highlight {
    background: linear-gradient(transparent 50%, var(--trans-white) 50%);
  }
}

/* Sexual healing */

.sexualhealing-flex {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;

  & .lyrics-content {
    width: 50%;
  }

  & .sexualhealing-img {
    border-bottom: .5rem solid var(--purple);
    width: 50%;
    height: 100%;
  }
}

.lyrics-header, .verhaal-header {
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 500;
  margin-top: 6rem;
}

.sexualhealing-verhaal {

  & .verhaal-header {
    margin: 15rem auto 5rem;
    display: flex;
    justify-content: flex-end;
    width: 80%;

    & h2 {
      width: 80%;

    }
  }

  & .verhaal-firstsection-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 7rem;
  }

  & .verhaal-firstparagraph {
    margin-bottom: 13rem;
  }

  & .verhaal-firstparagraph, & .verhaal-secondparagraph, & .verhaal-thirdparagraph, & .verhaal-fourthparagraph {
    width: 80%;
  }

  & .verhaal-secondparagraph {
    background-color: var(--yellow-trans);
    padding: 3rem;
  }

  & .verhaal-secondparagraph .text-highlight {
    background: linear-gradient(transparent 50%, var(--trans-white) 50%);
  }

  & .quote {
    margin-bottom: 1rem;
  }

  & .verhaal-thirditem {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 12rem auto 20rem;
  }

  & .verhaal-thirdparagraph {
    margin-bottom: 5rem;
  }

  & .coverimg-text {
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    padding-left: 1rem;
    bottom: 4.2rem;
  }
}

.sexualhealing-lyrics {

  & p {
    margin: 2rem 0;
    height: 6rem;
  }

  & .lyrics {
    padding-top: 2rem;
  }

  & .previousLyrics, & .nextLyrics {
    color: rgba(0, 0, 0, .4);
  }
}

/*MIDNIGHT LOVE TOUR*/

.midnight {

  & .midnight-header {
    text-align: center;
    margin: 10rem 0;
  }

  & .midnight-intro {
    background-image: url(../assets/images/midnight-intro.png);
    height: 103rem;
    padding: 8rem 0;
  }

  & .midnight-firstparagraph {
    width: 70%;
    margin: 0 auto 8rem;
  }

  & .midnight-subtitle {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  & .name-formulier {
    display: flex;
    flex-flow: column;

    & label {
      font-family: Montserrat;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2rem;
    }

    & input {
      width: 34rem;
      height: 4rem;
      margin: auto;
      padding-left: 1rem;
      font-size: 1.4rem;
      border: none;
    }

    & input:focus {
      outline: none;
    }
  }

  & .overlay {
    background-color: rgba(0, 0, 0, .85);
    display: flex;
    justify-content: flex-end;
    padding: 10rem;
  }

  /*& .overlayone {
    visibility: hidden;
  }*/

  /*& .overlaytwo{
    visibility: hidden;
  }

  & .overlaythree {
    visibility: hidden;
  }*/

  & .overlay-content {
    width: 60%;
  }

  & .overlay-number {
    font-size: 6rem;
    color: var(--yellow);
  }

  & .overlay-header {
    font-family: Montserrat;
    font-size: 4rem;
    color: white;
    margin-left: -10.5rem;
  }

  & .overlay-paragraph {
    margin: 5rem 0;
    font-size: 2rem;
    line-height: 2.8rem;
    color: white;
    width: 58rem;
  }
}

.midnight-kaart {
  /*background-image: url(../assets/images/kaart.svg);*/
  /*width: 100%;
  height: 222.8rem;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;*/
}

.overlayhidden, .overlaytwohidden, .overlaythreehidden {
  visibility: hidden;
  /*animation: fade 1s;*/
}

/*@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}*/

.lijnpos {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -99;
}

/*YEAR*/

.year {
  width: 80%;
  margin: 16rem 0 0 10%;

  & .year-content {
    display: flex;
    justify-content: space-between;
  }

  & .year-header {
    margin-bottom: 6rem;
  }

  & .year-firstparagraph, & .year-secondparagraph {
    margin-bottom: 4rem;
  }

  & .yearimg {
    align-self: flex-end;
    width: 100%;
    height: auto;
  }
}

.yearimg-picture {
  display: flex;
  width: 500%;
}

/* DVD */

.dvd {
  background: url(../assets/images/dvd.png);
  border: 2rem solid white;
  border-top: none;
  position: relative;

  & .dvd-header {
    color: white;
    padding: 14rem 0 8rem;
    text-align: center;

    & .title-underline {
      border-bottom: .4rem solid white;
    }
  }

  & .text-highlight {
    background: linear-gradient(transparent 50%, var(--trans-white) 50%);
  }

  & .dvd-text {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
  }

  & .dvd-firstparagraph, & .dvd-secondparagraph {
    width: 45%;
    font-size: 2rem;
  }

  & .dvd-controls {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10rem 0;
  }

  & .dvd-controls-title {
    font-size: 3rem;
    color: white;
    margin-bottom: 2rem;
  }

  & .dvd-video {
    display: none;
    z-index: 5;
    position: absolute;
    top: 20rem;
    left: calc(50% - 32rem);
  }
}

@media (width < 1350px) {

  .savedmylive-firstparagraph, .savedmylive-thirdparagraph {
    width: 90%;
  }

  .savedmylive .quote {
    margin-top: 4rem;
    z-index: 5;
  }

  .savedmylive-secondparagraph {
    margin-top: 6rem;
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
  }

  .img-item {
    display: none;
  }

  .savedmylive-seaside {
    width: 100%;
  }

  .sexualhealing-img {
    display: none;
  }

  .lyrics-content {
    width: 100%;
    margin: auto;
  }
}

@media (width < 1100px) {

  .sexualhealing-verhaal .verhaal-thirditem {
    flex-flow: column;
    margin-bottom: 4rem;
  }

  .sexualhealing-verhaal .verhaal-thirdparagraph, .sexualhealing-verhaal .verhaal-fourthparagraph {
    width: 90%;
  }

  .coverimg {
    width: 517px;
    margin: 6rem auto 0;
  }

  .midnight .overlay-paragraph {
    width: 100%;
  }

  .overlay img, .overlay video {
    width: 100%;
    height: auto;
  }
}

@media (width < 902px) {

  .sexualhealing-verhaal .quote {
    display: none;
  }

  .sexualhealing-verhaal .verhaal-firstsection {
    background: none;
  }

  .sexualhealing-verhaal .verhaal-secondparagraph {
    margin-left: -21rem;
    width: 114%;
  }

  .verhaal-image img {
    width: 15rem;
    height: auto;
    margin-right: 5rem;
  }

  .dvd .dvd-text {
    flex-flow: column;
    width: 100%;
  }

  .dvd .dvd-firstparagraph, .dvd .dvd-secondparagraph {
    width: 90%;
    margin: 1.5rem auto;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .year {
    margin-bottom: 0;
  }

  .year .year-content {
    flex-flow: column;
  }

  .yearimg-picture {
    display: block;
    width: 60%;
    margin-top: 3rem;
    align-self: flex-end;
  }
}

@media (width < 780px) {

  .year p, .midnight .overlay-paragraph, .midnight .midnight-firstparagraph, .sexualhealing-verhaal p, .savedmylive p {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .nostalgie-player {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 5rem);
    top: 2.5rem;
    right: 2.5rem;
    padding: 0 3rem;

    & p {
      margin-bottom: 0;
      font-size: 3rem;
    }

    & .nostalgie-playbutton {
      margin: 1rem;
    }

    & .nostalgie-player-image {
      border: none;
    }
  }

  .header nav {
    visibility: hidden;
    margin-top: 0;
  }

  .savedmylive-fifthparagraph p {
    width: 90%;
    margin: 0 auto;
  }

  .savedmylive-fifthparagraph {
    height: 50rem;
  }

  .savedmylive-secondparagraph {
    width: 100%;
  }
}

@media (width < 700px) {

  .header-title {
    font-size: 10vw;
  }

  .header-subtitle {
    font-size: 8vw;
    height: 10%;
    width: 90%;
  }

  .text-header {
    font-size: 3rem;

    & .title-underline {
      padding-right: 4rem;
    }
  }

  .savedmylive .quote {
    align-self: auto;
  }
}

@media (width < 600px) {

  .year {
    flex-flow: column;
  }

  .year .year-content {
    width: 100%;
  }

  .midnight .overlay-header {
    margin-left: auto;
  }

  .midnight .overlay-content {
    width: 95%;
  }

  .midnight .overlay {
    justify-content: center;
    padding: 5rem;

  }

  .coverimg, .coverimg img, .sexualhealing-verhaal .coverimg-text {
    width: 90%;
    height: auto;
  }

  .sexualhealing-verhaal .verhaal-firstsection-container {
    flex-flow: column;
    padding-top: 7rem;
  }

  .sexualhealing-verhaal .verhaal-secondparagraph {
    margin-left: 0;
    background-color: var(--yellow-trans);
    padding: 1rem 2rem;
    width: 100%;
  }

  .sexualhealing-verhaal .verhaal-firstparagraph {
    width: 100%;
  }

  .verhaal-image img {
    margin-left: 10rem;
  }

  .savedmylive-secondparagraph {
    margin-bottom: 6rem;
  }

  .dvd .dvd-header {
    padding: 8rem 0 5rem;
  }
}

@media (width < 520px) {

  .header {
    border: 1rem solid black;
  }

  .header-title {
    font-size: 8vw;
    letter-spacing: 2vw;
  }

  .header-years .years-position {
    width: 90%;
  }

  .header-years .years-title {
    font-size: 6vw;
  }

  .nostalgie-player {
    padding: 0;
  }

  .savedmylive .quote {
    font-size: 2.4rem;
    width: 100%;
  }
}

@media (width < 480px) {

  .midnight .midnight-subtitle {
    font-size: 2.5rem;
  }

  .savedmylive-fourthparagraph {
    width: 100%;
  }

  .yearimg-picture {
    width: 100%;
  }

  .midnight .overlay-number {
    font-size: 4.5rem;
  }

  .midnight .overlay-header {
    font-size: 3rem;
  }

  .header {
    padding-top: 15rem;
  }

  .header nav {
    display: none;
  }

  .savedmylive-header, .savedmylive-fourthparagraph, .sexualhealing-verhaal .verhaal-firstparagraph, .midnight .midnight-header,.dvd .dvd-header {
    margin: 6rem 0;
  }
}

@media (width < 400px) {

  .nostalgie-player p {
    display: none;
  }

  .dvd {
    border: none;
  }

  .dvd .dvd-controls {
    padding: 1rem 0 5rem;
    margin: 0;
  }

  .year {
    margin: 8rem 0 0 10%;
  }

  .nostalgie-player .nostalgie-player-image {
    margin-left: .5rem;
  }

  .text-header {
    font-size: 2.2rem;
  }

  .midnight .midnight-intro {
    height: 100%;
  }

  .midnight .name-formulier input {
    width: 80%;
  }
}

@media (width < 340px) {

  .savedmylive-secondparagraph {
    margin-bottom: 6rem;
  }
}
